* {
    margin: 0;
    padding: 0;
}
.w-1 {
    width: 100%;
}
.h-1 {
    height: 100%;
}
.po-1 {
    position: relative;
}
.po-2 {
    position: absolute;
}
.po-3 {
    position: fixed;
}
.dis-1 {
    display: flex;
}
.ju-1 {
    justify-content: center;
}
.al-1 {
    align-items: center;
}
.color {
    color: white;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.top {
    top: 0;
}
.bottom {
    bottom: 0;
}